@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web app was built for the purpose of learning about Deployment Slots on Azure App Service.</p>
</div>
